*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
DataSource/libs/
HTTPProxyServer/libs/
Presentation/libs/
/.idea/misc.xml
DataSource/release/
DataSource/src/main/res/layout/
HTTPProxyServer/src/main/res/layout/
commanconstant/libs/
commanconstant/src/main/res/drawable/
